.terminal-container {
  max-width: 65vw;
  margin: 2rem auto ;
  margin-bottom: 5rem;
  background: #5a5d7a;
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Space Mono', Monaco, Consolas, 'Lucida Console', monospace;
}

.terminal-header {
  background: #e8e8e8;
  padding: 12px 16px;
  display: flex;
  align-items: center;
}

.traffic-lights {
  display: flex;
  gap: 8px;
}

.traffic-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.traffic-light.red {
  background: #ff5f57;
}

.traffic-light.yellow {
  background: #ffbd2e;
}

.traffic-light.green {
  background: #28ca42;
}

.terminal-content {
  padding: 20px;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #5a5d7a;
}

.terminal-line {
  margin-bottom: 4px;
  display: flex;
  align-items: left;
  background-color: #5a5d7a;

}
/* #37f3f2 */
.prompt {
  color: white;
  background-color: #5a5d7a;
  margin-right: 8px;
}

.command {
  color: #ffffff;
  background-color: #5a5d7a;

}

.output {
  margin-bottom: 16px;
  margin-left: 16px;
  text-align: left;
  background-color: #5a5d7a;

}

.string {
  color: #f9ca24;
  background-color: #5a5d7a;

}

.bracket {
  color: #f9ca24;
  background-color: #5a5d7a;

}

.cursor {
  color: #ffffff;
  animation: terminal-blink 1s infinite;
}

@keyframes terminal-blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

a{
    text-decoration: none;
    background-color: inherit;
    color:#37f3f2;
}